{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
    <h1>Welcome to Flask Phonebook</h1>
{% endblock %}

{% block content %}
    <div class="col-12 text-center mt-5 mb-5">
        <h3>Please Login or Sign Up to Start</h3>
        <a class="btn btn-outline-dark w-100 mt-5" href="{{ url_for('login') }}"style="margin-top: 10px;">Log In</a>
        <a class="btn btn-outline-dark w-100 mt-5" href="{{ url_for('signup') }}"style="margin-top: 10px;">Sign Up</a>
    </div>

    <!-- <div class="col-12 text-center mt-5 mb-5">
        <h1 style="letter-spacing: 0.1em;">CONTACTS</h1>
    </div>
    {% for c in contacts %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ c.first_name }} {{ c.last_name }}</h5>
            <p class="card-text">{{ c.phone_number }}</p>
            <p class="card-text">{{ c.address }}</p>
            <a href="{{ url_for('edit_contact', contact_id=c.id)}}" class="btn btn-secondary">Edit</a>
            <a href="#" class="btn btn-dark">Delete</a>
        </div>
    </div>
    {% endfor %} -->
{% endblock %}